.landing-page {
    .left, .right {
        font-size: 50px;
    }
    .app-title {
        margin: 20px 0;
        width:100%;
        font-size: 90px;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
}